<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">


    <style>

        .modal {
          display: none; 
          position: fixed; 
          z-index: 1; 
          left: 0;
          top: 0;
          width: 100%; 
          height: 100%; 
          overflow: auto; 
          background-color: rgb(0,0,0); 
          background-color: rgba(0,0,0,0.4); 
        }
        
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto; 
          padding: 20px;
          border: 1px solid #888;
          width: 80%; 
        }
        
        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
        
        
            </style>


</head>
<body>
    <%- include('layout/headerAdmin') %>
  
    <section class="containerAdmin">
        <h2 style="color: rgba(39, 91, 133, 0.979); margin-top: 30px;" >Welcome Admin</h2>

        <table class="userDashboardContent">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Service Type</th>
                    <th>PSW Name</th>
                    <th>Client Name</th>
                    <th>Location</th>
                    <th>More Details</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <% let counter = 1; %>
                <% if (typeof pendingServices !== 'undefined' && pendingServices.length > 0) { %> 
                <% pendingServices.forEach (service => { %>
            
                    <tr>
                        <td><%= counter %></td>
                        <td><%= service.serviceType %></td>
                        <td><%= service.psw %></td>
                        <td><%= service.user_full_name %></td>
                        <td><%= service.locationName %></td>
                        <td> <a onclick="showServiceDetails('<%= JSON.stringify(service) %>')" style="color: rgb(14, 75, 87);font-weight: bold;">Click here...</a> </td>
                        <td> 
                          <button class="accept-btn" onclick="acceptService('<%= service.id %>')" >Accept</button>
                        </td>
                        <td> 
                          <button class="reject-btn" onclick="serviceReject('<%= service.id %>')" style="color: rgb(93, 31, 31);font-weight: bold;">Reject</button> 
                        </td>
                    </tr>
                    <% counter++; %>  
                    
                <% }); %>
                <% } %> 


                <% if (typeof serviceModifiedByAdmin !== 'undefined' && serviceModifiedByAdmin.length > 0) { %> 
                
                <!-- Accepted service by admin-->
                <% let acceptedCounter = 1; %>
                <% serviceModifiedByAdmin.forEach (service => { %>
                  <% if (service.status == 'accepted') { %>
                  <tr>
                      <td><%= acceptedCounter %></td>
                      <td><%= service.serviceType %></td>
                      <td><%= service.psw %></td>
                      <td><%= service.user_full_name %></td>
                      <td><%= service.locationName %></td>
                      <td> <a onclick="showServiceDetails('<%= JSON.stringify(service) %>')" style="color: rgb(14, 75, 87);font-weight: bold;">Click here...</a> </td>
                      <td colspan="2">
                        <button > Accepted </button>
                      </td>
                  </tr>
                    <% acceptedCounter++; %>
                  <% } %>  
                <% }); %>


                <!-- Rejected service by admin-->
                <% let rejectedCounter = 1; %>
                <% serviceModifiedByAdmin.forEach (service => { %>
                  <% if (service.status == 'rejected') { %>
                  <tr>
                      <td><%= rejectedCounter %></td>
                      <td><%= service.serviceType %></td>
                      <td><%= service.psw %></td>
                      <td><%= service.user_full_name %></td>
                      <td><%= service.locationName %></td>
                      <td> <a onclick="showServiceDetails('<%= JSON.stringify(service) %>')" style="color: rgb(14, 75, 87);font-weight: bold;">Click here...</a> </td>
                      <td colspan="2">
                        <button style="color: rgb(93, 31, 31);font-weight: bold;"> Rejected </button>
                      </td>
                  </tr>
                    <% rejectedCounter++; %>
                  <% } %>  
                <% }); %>

                <% } %>  
                
            </tbody>
        </table>


        <form id="serviceAction" method="post" action="/performServiceActionByAdmin">
          <input type="hidden" id="action" name="action" value="" />
          <input type="hidden" id="serviceId" name="serviceId" value="" />
        </form>


        <div id="serviceDetailModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <p id="modalContent"></p>
            </div>
          </div>


    </section>


    <script>
      function acceptService(uuid, psw_id) {
        document.getElementById("action").value = "accepted";
        document.getElementById("serviceId").value = uuid;

        document.getElementById("serviceAction").submit();
      }

      function serviceReject(uuid, psw_id) {
        document.getElementById("action").value = "rejected";
        document.getElementById("serviceId").value = uuid;

        document.getElementById("serviceAction").submit();
      }

        function showServiceDetails(serviceStr) {
          const service = JSON.parse(serviceStr.replace(/&apos;/g, "'"));
          
          // Populate your modal with service details
          const modalContent = document.getElementById('modalContent');
          modalContent.innerHTML = `
            Service Type: ${service.serviceType}<br>
            Client Name: ${service.user_full_name}<br>
            Location: ${service.locationName}<br>
            PSW Name: ${service.psw} ( Id: ${service.psw_id})<br>
            Availability: ${service.availability}<br>
            Weeks: ${service.no_of_weeks}<br>
            Hours per week: ${service.hour_per_week}<br>
            Weekly Charges: $${service.weekly_charges}<br>
            Total Charges: $${service.total_charges}<br>
            Language: ${service.language}<br>
            Responsibilities: ${service.responsibilities}
          `;
          
          // Show the modal
          const modal = document.getElementById('serviceDetailModal');
          modal.style.display = "block";
          
          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];
        
          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            modal.style.display = "none";
          }
        
          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
        }
        
        
      </script>
</body>
</html>
